
img {
    width: 70%;
    height: auto;
    transform: translate3d(20%, 5px, 10px); opacity: 1;
    position: top;
    justify-content: center;
  }

#inicio .parallax-container {
    height: 80vh;
  }
  .title-parallax {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .title-parallax h1 {
    margin: 0px;
    color: white;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    text-align: center;
  }

  a:hover {
    color: #3dd705
    
}